::-moz-selection {
    color: #fff;
    background-color: $primary;
}

body {
    background: $white url('../img/bg-pattern-light.png');
}

.tlibr-navbar {
    transition: top 300ms ease-out;
    -o-transition: top 300ms ease-out;
    -moz-transition: top 300ms ease-out;
    -webkit-transition: top 300ms ease-out;
}

.badge {
    border-radius: 0;
}

.card {
    background-color: $white;
    color: $gray-800;
    border: 0;
}

.tlibr-carousel-control {
    position: absolute;
    width: 40px;
    height: 40px;
    background: $gray-800;
    top: 50%;
    margin-top: -20px;
    line-height: 40px;
    border-radius: 50%;
    opacity: 0.3;
    transition: all 0.2s ease-in-out 0s;
}

.carousel-control-prev {
    margin-left: 20px;
}

.carousel-control-next {
    margin-right: 20px;
}

.card-header-section {
    background-color: $primary;
    background-image: url('../img/bg-card-section-header.png');
    background-size: cover;
    background-position: 50%;
}

.card-header-section .card-title {
    color: $white;
    text-shadow: 0 1px 3px rgba(0,0,0,.75);
    font-size: 24px;
}

.table-team tbody tr, .card, .tlibr-shadow, .carousel-inner {
    box-shadow: $shadow-sm;
    -o-box-shadow: $shadow-sm;
    -moz-box-shadow: $shadow-sm;
    -webkit-box-shadow: $shadow-sm;
    transition: all 25ms ease-out;
    -o-transition: all 25ms ease-out;
    -moz-transition: all 25ms ease-out;
    -webkit-transition: all 25ms ease-out;
}

.table-team tbody tr:hover, .card-hover:hover, a:hover .tlibr-shadow {
    z-index: 999;
    box-shadow: $shadow-lg;
    -o-box-shadow: $shadow-lg;
    -moz-box-shadow: $shadow-lg;
    -webkit-box-shadow: $shadow-lg;
}

.table-team {
    width: 100%;
    border-spacing: 0 3px;
    border-collapse: separate;
}

.table-team th, .table-team td, .table-team tr {
    border: 0;
}

.table-team tbody tr td:nth-child(1) {
    color: $primary;
}

.table-team tbody tr td:nth-child(2) {
    color: $gray-600;
}

.table-team tbody tr td, .table-team thead tr th {
    padding: 6px 10px;
}